{% extends 'base.html.twig' %}

{% block title %}Edit BankAccount{% endblock %}

{% block body %}
    <h1>Modifier BankAccount</h1>

    {{ include('bank_account/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bank_account_index') }}">Retour à la liste</a>

    {{ include('bank_account/_delete_form.html.twig') }}
{% endblock %}
